.BEMinfocard{ border: 1px solid #DDDDDD; border-radius: .5rem;
	margin-bottom: 2rem; overflow: hidden;}
.BEMinfocard__img{height: 50rem; min-width:100%; object-fit: cover;}
.BEMinfocard__text{ padding: .7rem; text-align: center; font-size: .9rem;}