.clientes{  background-color: #F3F3F3; padding: 2rem 0; margin: 2rem 0;}
.contacto{  background-color: white; margin-top: 2rem; margin-bottom: 2rem;}

.maincontent{  padding: 0rem 20rem 0 20rem;  background-color: white;}

.footer{  background-color: #F3F3F3; padding: 2rem 0; margin: 0;}