.logobya{ width: 30vh; height: auto; }
.byaNav{ background-color: #CCCCCC; padding: .5rem 20rem; }
.byaNavHam{ border: 0px; }
.byaLink:focus, .byaLink:hover { color: white !important; }
ul li a {text-align: center;}