@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;  }
}

@media only screen and (max-width: 1391px) {
.navbarBya {padding: 0; padding-top: 10px;}
.byaNav{padding: .5rem 1rem; }
.maincontent{padding: .5rem 4rem; }
.BEMinfocard__img{height: 40rem; min-width:100%; object-fit: cover;}
.img-fluid-bya{max-width: 100%; object-fit: cover;}
}

@media only screen and (max-width: 575px) {
.navbarBya {padding: 0; padding-top: 10px;}
.byaNav{padding: .5rem 1rem; }
address{text-align: center;}
.carousel-caption{text-align: left;}
.maincontent{padding: .5rem .5rem;}
.BEMinfocard__img{height: 25rem; min-width:100%; object-fit: cover;}
.img-fluid-bya{max-width: 100%; object-fit: cover;}
}


/* screen max-width 1391*/