h1, h2{
  color: #0A207C;
  font-family: 'Cabin', sans-serif; }
h3, h4, h5{
  color: #3E4A70;
  font-family: 'Cabin', sans-serif; }

p{
  color: #4C4C4C;   }
.mainText{
  text-align: center;
  font-size: 1.4rem;  }
.infoJfyText{
  text-align: justify; padding: 2% 0 0 0;
  text-justify: inter-word;   }
.infoCentText{
  text-align: center;
  text-justify: inter-word;   }

.textsize-s{ font-size: .8rem; }
.textsize-m{ font-size: 1rem; }
.textsize-l{ font-size: 1.2rem; }
.textsize-xl{ font-size: 1.4rem; }

